*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f8F9Fa;
  color: #22252A;
  width: 100%;
}

.footer a {
  color: #22252A;
}

